

.contenedorIcono{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono{
    font-size: 80px;
    color: white;
}


.texto{
    text-align: center;
    padding: 10px;
}

.impPortada{
    width: 100%;
}

.logoLogin{
    width: 50px;
}

[data-tooltip]::before {
    content : attr(data-tooltip);
    display:none;
    position: absolute;
   }

   [data-tooltip]:hover::before {
    display : block;
    }

    [data-tooltip]{ 
        position:relative; 
        border-bottom: 1px dotted #09C;
        cursor:pointer;
        }
        [data-tooltip]::before {
        content : attr(data-tooltip);
        background-color:rgba(0,0,0,.75);
        color:white;
        -webkit-font-smoothing: antialiased;
        width:150px;
        padding:10px;
        height:auto;
        border-radius:3px;
        display:none;
        position:absolute;
        bottom:25px;
        left:calc(100% - 75%);
        pointer-events: none;
        z-index:99;
         }
        [data-tooltip]::after{
        content:"";
        height:1px;
        width:1px;
        border:10px solid transparent;
        border-top-color:rgba(0,0,0,.75);
        position:absolute;
        bottom:4px;
        left:50%;
        display: none;
        }
        [data-tooltip]:hover::before,
        [data-tooltip]:hover::after
        { display:block;} 